.photo-2023-10-19-18-43-37-1-icon {
  position: absolute;
  top: 105px;
  left: 915px;
  width: 417px;
  height: 444px;
  object-fit: cover;
}
.the-poshan-tracker {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.job-aid-to-the {
  margin-bottom: 0;
}
.job-aid-to-the-anganwadi-worke {
  margin: 0;
  padding-left: 27px;
}
.the-poshan-tracker-container1 {
  line-break: anywhere;
  width: 100%;
}
.anganvadi-app,
.features,
.the-poshan-tracker-container {
  position: absolute;
  left: 156px;
  display: flex;
  align-items: center;
}
.the-poshan-tracker-container {
  top: 190px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: rgba(0, 0, 0, 0.86);
  width: 683px;
  height: 356px;
}
.anganvadi-app,
.features {
  top: 111px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  width: 640px;
  height: 59px;
}
.features {
  top: 620px;
  left: 498px;
  width: 538px;
  height: 45px;
}
.about-child,
.rectangle-2 {
  position: absolute;
  box-sizing: border-box;
}
.about-child {
  top: 585.5px;
  left: 683.5px;
  border-top: 5px solid var(--color-orange);
  width: 114px;
  height: 5px;
}
.rectangle-2 {
  top: 681px;
  left: 257px;
  background-color: rgba(234, 53, 53, 0.19);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  width: 987px;
  height: 166px;
}
.photo-2023-10-19-23-57-46-1-icon,
.photo-2023-10-19-23-57-51-1-icon {
  position: absolute;
  top: 682px;
  left: 536px;
  width: 166px;
  height: 162px;
  object-fit: cover;
}
.photo-2023-10-19-23-57-51-1-icon {
  top: 683px;
  left: 827px;
  width: 170px;
}
.photo-2023-10-19-23-44-43-1-icon,
.photo-2023-10-19-23-57-57-1-icon {
  position: absolute;
  top: 684px;
  left: 1093px;
  width: 150px;
  height: 162px;
  object-fit: cover;
}
.photo-2023-10-19-23-44-43-1-icon {
  top: 679px;
  left: 258px;
  width: 136.9px;
  height: 164.9px;
}
.home-visits-alerts,
.pre-school-education,
.services-delivered {
  position: absolute;
  top: 848px;
  left: 258px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 341px;
  height: 67px;
}
.home-visits-alerts,
.pre-school-education {
  top: 853px;
  left: 655px;
  width: 343px;
  height: 56px;
}
.pre-school-education {
  left: 996px;
}
.about-item {
  position: absolute;
  top: 918px;
  left: 0;
  background-color: var(--color-silver-200);
  width: 1440px;
  height: 108px;
}
.xyz-road3 {
  margin: 0;
}
.blank-line14 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.xyz-road-container3 {
  position: absolute;
  top: 926px;
  left: 258px;
  font-family: var(--font-prociono);
  display: inline-block;
  width: 657px;
  height: 92px;
  font-size: var(--font-size-xl);
}
.about-inner {
  position: absolute;
  top: 918px;
  left: 0;
  width: 250px;
  height: 108px;
  object-fit: cover;
}
.group-child18 {
  background-color: var(--color-silver-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about-inner1,
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 60px;
}
.about-child1,
.whatsapp-image-2023-10-19-at-81 {
  position: absolute;
  top: 0;
  left: 0;
  width: 151px;
  height: 60px;
  object-fit: cover;
}
.whatsapp-image-2023-10-19-at-81 {
  top: 21px;
  left: 105px;
  width: 174px;
  height: 23px;
}
.about-us1,
.contact3,
.home1,
.services2,
.signup2 {
  position: absolute;
  top: 20px;
  display: inline-block;
  height: 20px;
}
.home1 {
  left: 859px;
  width: 76px;
  cursor: pointer;
}
.about-us1,
.contact3,
.services2,
.signup2 {
  left: 953px;
  width: 108px;
}
.contact3,
.services2,
.signup2 {
  left: 1079px;
  width: 109px;
}
.contact3,
.signup2 {
  left: 1321px;
  width: 94px;
  cursor: pointer;
}
.contact3 {
  left: 1206px;
  width: 97px;
  height: 22px;
}
.about {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
